<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="page">
    <header>
        <%- include('../partials/private-nav'); %>
    </header>

    <main class="page-content">
        <div class="container-md dashboard-container">
            <%- include('../partials/messages'); %>

            <h1>Dashboard</h1>
            <a class="btn btn-primary" href="/modules/create" role="button">Create a Module</a>

            <ul class="collection-flex-container">
                    <% modules.forEach(function (module) { %>


                    <li class="collection-container p-3">
                        <div class="collection-text">
                            <h2>
                                <a href="#"><%= module.title %></a>
                            </h2>
                            <p><%= module.description %></p>
                            <div class="collection-small">
                                <hr>
                                <i aria-hidden="true" title="Time this resource was posted" class="far fa-calendar"></i>
                                <span class="visually-hidden">Time this resource was posted:</span>
                                <span><%= module.createdAt %></span>
                                <i aria-hidden="true" title="Author that posted this resource" class="far fa-user"></i>
                                <span class="visually-hidden">Author that posted this resource:</span>
                            </div>
                        </div>
                    </li>

                    <% }); %>
            </ul>
            
        </div>

    </main>
    
    <%- include('../partials/footer'); %>
</body>
</html>