<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="page">
    <header>
        <%- include('../partials/private-nav'); %>
    </header>

    <main class="page-content">
        <div class="container edit-course-container">
            <div class="row justify-content-center">
                <div class="col-8 course-information-container my-5">
                    <h1 class="p-4"><%= course.title %></h1>
                    <p class="px-4 py-2">Age Group: <%= course.ageGroup %></p>
                    <p class="px-4 py-2">Description: <%= course.description %></p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 unit-form-container p-5">
                    <form method="post" class="unit-form">
                        <h2>Add a Unit</h2>
                        <%- include('../partials/messages'); %>
                        <div class="mb-3">
                            <label for="titleInput" class="form-label">Title</label>
                            <input 
                                name="title"
                                type="text"
                                id="titleInput"
                                class="form-control"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Description</label>
                            <textarea 
                                name="description"
                                type="text"
                                id="descriptionInput"
                                class="form-control"
                            ></textarea>
                        </div>
                        <button type="button" class="btn btn-outline-dark add-task-button">Add a Task</button>
                        <div class="row justify-content-center my-5 create-unit-row">
                            <button type="submit" class="btn btn-outline-dark create-unit-button text-center">Create Unit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('../partials/footer'); %>
</body>
<script src="/javascripts/course-form.js"></script>
</html>